#result{
 width: 600px;
 height: 50px;
 text-align: right;
 background-color: black;
 color: white;
 font-size: 35px;
}

.nomal {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #dedede;
  font-size: 30px;
}

.large {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  background-color: #dedede;
  font-size: 30px;
}

.nomal:active {
  border-color: blue;
}

.large:active {
  border-color: blue;
}